<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Feedback Button</title>
  <style>

  </style>
</head>
<body>
<div class="feedback-button-container">
  <button class="feedback-button" data-toggle="modal" data-target="#feedbackModal">Feedback</button>
</div>

<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
     aria-hidden="true" >
  <div class="modal-dialog " role="document" >
    <div class="modal-content" >
      <div class="modal-header" >
        <h5 class="modal-title" id="feedbackModalLabel">Feedback geben</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Schließen">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/v1/user/feedback-form" method="post">
          <div class="form-group">
            <label for="subject">Betreff</label>
            <input type="text" class="form-control" id="subject" name="subject" required>
          </div>
          <div class="form-group">
            <label for="message">Nachricht</label>
            <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
          </div>

          <button type="submit" class="btn" style="margin-top: 10px;"><span>Senden</span></button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
