<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav-circular.css">
    <title>Circular Button Menu</title>
</head>
<body>
<div class="container circular text-center mt-5 ">
    <div class="button-container position-relative ">
        <button class="circular-button btn" id="main-button"> Menu</button>
        <div class="menu" id="menu">
            <button class="menu-option btn btn-light" id="option-1">Dienstleisungen</button>
            <a class="no-underline" href="/api/v1/user/referenzen">
                <button class="menu-option btn btn-light" id="option-2">Referenzen</button>
            </a>
            <a class="no-underline" href="/api/v1/user/Kontakt">
                <button class="menu-option btn btn-light" id="option-3">Kontakt</button>
            </a>
            <a class="no-underline" href="/api/v1/user/impressum">
                <button class="menu-option btn btn-light" id="option-4">Impressum</button>
            </a>
        </div>
        <div class="sub-menu" id="sub-menu">
            <a class="no-underline" href="/api/v1/user/Auditierung">
                <button class="sub-menu-option btn btn-light">Auditierung</button>
            </a>
            <a class="no-underline" href="/api/v1/user/Akustik">
                <button class="sub-menu-option btn btn-light">Akustik</button>
            </a>
            <a class="no-underline" href="/api/v1/user/Beratung">
                <button class="sub-menu-option btn btn-light">Beratung</button>
            </a>
            <a class="no-underline" href="/api/v1/user/HuST">
                <button class="sub-menu-option btn btn-light">Hardwere & System Testing</button>
            </a>
            <a class="no-underline" href="/api/v1/user/Programierung">
                <button class="sub-menu-option btn btn-light">Programierung</button>
            </a>
            <a class="no-underline" href="/api/v1/user/QuS">
                <button class="sub-menu-option btn btn-light">Qualitätmangment</button>
            </a>
            <a class="no-underline" href="/api/v1/user/SHuK">
                <button class="sub-menu-option btn btn-light">Smart-Home& Kommunikation</button>
            </a>
            <a class="no-underline" href="/api/v1/user/Engineering">
                <button class="sub-menu-option btn btn-light">Engineering</button>
            </a>
        </div>
    </div>
</div>
</body>
</html>
