<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="/"> <img th:src="${logoImage}"
                                           alt="Logo" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">Menü
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link navbar-link" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-link"  id="servicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dienstleistungen
          </a>
          <ul class="dropdown-menu" aria-labelledby="servicesDropdown">
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/Auditierung">Auditierung</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/Akustik">Akustik</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/Beratung">Beratung</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/HuST">Hardwere & System Testing</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/Programierung">Programierung</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/QuS">Qualitätmangment</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/SHuK">Smart-Home & Kommunikation</a></li>
            <li><a class="dropdown-item navbar-link" href="/api/v1/user/Engineering">Engineering</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link navbar-link" href="/api/v1/user/referenzen">Referenzen</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto-nav "><!-- Verschieben der Menüelemente auf die rechte Seite -->
        <li class="nav-item">
          <a class="nav-link navbar-link" href="/api/v1/user/Kontakt">Kontakt</a>
        </li>
        <li class="nav-item temp">
          <a class="nav-link ">|</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link navbar-link" href="/api/v1/user/impressum">Impressum</a>
        </li>
      </ul>
    </div>
  </div>
</nav>