<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav-top-style.css">
    <link rel="stylesheet" href="/css/nav-circular.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/feedback-style.css">
    <title>Auditierung</title>
</head>
<body>
<div th:replace="fragments/nav-top-fragment::nav" ></div>
<div th:replace="fragments/header-fragment::div" ></div>

<section class="image-text-section" style="margin-top: 80px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Auditierung gemäß DIN ISO 9001</h2>
                <div>
                    <div>
                        <p style="padding-left: 10px; padding-top: 10px"> ITE Engineering ist spezialisiert auf
                            Systemaudits und führt Begutachtung von Managementsysteme nach ISO 9001:2015 durch. Bei der
                            Begutachtung werden die Normkonformität, Wirksamkeit und Nachhaltigkeit der Prozesse
                            geprüft. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img th:if="${auditierung}" th:src="${auditierung}" alt="Image" class="img-fluid content-img">
                <img th:unless="${auditierung}" src="/images/placeholder.jpg" alt="Placeholder" class="img-fluid content-img">

            </div>
        </div>
    </div>
</section>

<div class="gradient-div">
    <h3 class="gradient-text">Haben Sie Interesse?</h3>
    <button class="gradient-button">Kontakt</button>
</div>


<div th:replace="fragments/nav-circular-fragment.html::div"></div>
<div th:replace="fragments/feedback-fragment::div"></div>
<div th:replace="fragments/newsletter-fragment.html::div"></div>
<div th:replace="fragments/footer-fragment.html::footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/nav-circular-script.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>
