<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Neue Kontakt Anfrage</title>
    <link rel="stylesheet" href="/css/email_template.css">
</head>
<body>
<div class="container">
    <img src="/static/img/ITE-logo.png" width="250px" alt="Logo" class="logo">
    <h1 class="title">Neue Kontakt Anfrage</h1>

    <div class="footer">
        <table>
            <tr>
                <th>Anfrage Informationen:</th>
            </tr>
            <tr>
                <td>Anrede:</td>
                <td>{{anrede}}</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>{{Name}}</td>
            </tr>
            <tr>
                <td>Vorname:</td>
                <td>{{Vorname}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{Email}}</td>
            </tr>
            <tr>
                <td>Firma:</td>
                <td>{{Firma}}</td>
            </tr>
            <tr>
                <td>Telefon:</td>
                <td>{{telefon}}</td>
            </tr>
            <tr>
                <td>Interesse:</td>
                <td>{{interesse}}</td>
            </tr>
            <tr>
                <td>Frage/Wünsche:</td>
                <td>{{frage}}</td>
            </tr>

        </table>
        <p class="footer-text">Bitte überprüfen Sie die oben aufgeführten Informationen sorgfältig </p>
    </div>
</div>
</body>
</html>