<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/nav-top-style.css">
    <link rel="stylesheet" href="/css/nav-circular.css">
    <link rel="stylesheet" href="/css/header-style.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <link rel="stylesheet" href="/css/feedback-style.css">
    <title>Hardware und System Testing</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/img/ITE-logo.png"
                 alt="Logo" height="40">
        </a>
        <div class="navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navbar-link" href="#">Kontakt</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">|</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-link" href="#">Deutschland</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="header">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!-- slide 1-->
            <div class="carousel-item active">
                <div class="carousel-content">
                    <div class="sliding-container">
                        <div class="sliding-content">
                            <div class="sliding-text">
                                <h1>Quality Engineering & Testing</h1>
                                <p>
                                    Sichere Erfolge durch optimiertes Testen von IT-Anwendungen
                                    Erzielen Sie mit uns einen deutlichen Wettbewerbsvorsprung – durch eine zielführende
                                    Teststrategie und effiziente Prozesse im Qualitätsmanagement.</p>
                            </div>
                            <div class="sliding-image">
                                <img src="https://www.cgi.com/sites/default/files/styles/hero_banner/public/hero-banner-default/landing/Consultant-laughing-in-a-meeting.jpg.webp?itok=bhG2bza4"
                                     alt="Sliding Image">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- slide 2-->
            <div class="carousel-item ">
                <div class="carousel-content">
                    <div class="sliding-container">
                        <div class="sliding-content">
                            <div class="sliding-image">
                                <img src="https://www.cgi.com/sites/default/files/consultants-discussing-business-medium.jpg"
                                     alt="Sliding Image">
                            </div>
                            <div class="sliding-text">
                                <h1>Quality Engineering & Testing</h1>
                                <p>
                                    Sichere Erfolge durch optimiertes Testen von IT-Anwendungen
                                    Erzielen Sie mit uns einen deutlichen Wettbewerbsvorsprung – durch eine zielführende
                                    Teststrategie und effiziente Prozesse im Qualitätsmanagement.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- slide 3-->
            <div class="carousel-item">
                <div class="carousel-content">
                    <h2>Slide 2</h2>
                    <p>This is the content of Slide 2.</p>
                    <img src="https://www.example.com/image2.jpg" alt="Slide 2">
                </div>
            </div>
        </div>
    </div>
</div>

<section class="image-text-section" style="margin-top: 80px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Hardware und System Testing</h2>
                <div>
                    <div>
                        <p style="padding-left: 10px; padding-top: 10px"> Unter der Hardware und Systemtesting lässt
                            sich X beliegige Hardware testen und ihr System auf Herz und Niere prüfen. Wir erfüllen
                            einige Tests, wie thermische Messung, Umwelt-, elektrische Tests. Unterstützen Sie bei der
                            Qualifikation ihrer Produkte. Wir übernehmen die Vorbereitung, Hardware- und
                            Softwareintegration, Installation der Software und nehmen ihr Produkt in Betrieb. Zu unserem
                            Support gehört auch die Fehlereanalyse und Reperatur.</p>
                        <ul style="list-style-type: none; padding: 0;">
                            <li>★ Thermische Messungen und Wärmebild Untersuchung</li>
                            <li>★ System/Hardware Testing (Umwelttests, Testaufbau, elektrische und EMC-Tests)</li>
                            <li>★ Unterstützung von Prüfkonzepten, Qualifikation erste Prototypen bis zu Serienfertigung</li>
                            <li>★ Hardware- und Softwareintegration sowie Inbetriebnahmen von Prüfständen</li>
                            <li>★ Prüfstands Vorbereitung und Inbetriebnahme</li>
                            <li>★ PCBA-Fehleranalyse + Reparatur (In-Circuit-Test ICT)</li>
                            <li>★ Softwareinstallation, volle Konfiguration und Testing></li>
                            <li>★ Thermische Messungen und Wärmebild Untersuchung</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://www.cgi.com/sites/default/files/consultants-discussing-business-medium.jpg"
                     alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<div class="gradient-div">
    <h3 class="gradient-text">Haben Sie Interesse?</h3>
    <button class="gradient-button">Kontakt</button>
</div>

<div th:replace="fragments/nav-circular-fragment.html::div"></div>
<div th:replace="fragments/newsletter-fragment.html::div"></div>
<div th:replace="fragments/feedback-fragment::div"></div>
<div th:replace="fragments/footer-fragment.html::footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/nav-circular-script.js"></script>
</body>

</html>
